$blue: #000fc1;
$green: #2a5e2a;
$light_blue: #0065ae;
$light_green: #7ae67b;
$bold: "RobotoBold", sans-serif;
$italic: "RobotoItalic", sans-serif;
%brief_text{
    margin: 0 0 20px 0;
    padding: 20px 20px 20px 80px;
    border-top: 2px #66beff solid;
    border-bottom: 2px #66beff solid;
	background-color: #ebf3f8;
	background-position: 2% 50%;
	background-repeat:no-repeat;
	font-family: "RobotoMedium";
	p{
		margin-bottom:0;

	}
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
b{	
	font-family: $bold;
}
i{
	font-family: $italic;
}
a{
	cursor:pointer;
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

blockquote{
	font-family:$italic;
}

.container_wide{
	width:100%;
	padding:0 15px;
}

aside.aside_container.col-md{
		padding:0;
		background: $light_green;
		height:auto;
	.aside_inner{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		height: auto;
		align-items: center;
		padding-bottom:10px;
		hr{
				display:none;
		}
		.email_block{
			display:none;
			padding-top:5px;
			text-align: right;
		}
		.logo_block{
		    width: 100%;
			padding: 15px 15px 0 15px;
			text-align:center;
			a{
				color: #24231f;
			}
			a:hover{
				color: #000;
				text-decoration:none;				
			}
			h1{
			    font-size: 2rem;
			}	
			h3{
			    font-size: 1.25rem;
				margin-bottom:0;
			}	
		}
		.form-group label{
			font-family:$italic;
		}
		.book_inner_block span{
			font-family:$italic;
		}
		.booktitle_block,.bookauthor_block{
			b{
				font-size:18px;
				color:$blue;
			}
		}
		nav{
			order:3;
			width: 100%;
			a{
				color:$blue;
				font-size: 20px;
				padding:0;
			}
			a:hover{
				color:#0b1eff;
				text-decoration:underline;
			}
			.nav_block{
				display:none;
				text-align: center;
				padding-bottom: 10px;
				background:$green;
				ul{
					flex-direction:column;
					a{
						color:#fff;
					}
					a:hover{
						text-decoration:underline;
						background:#448d44;
					}
					a.disabled{
						color:#bbbbbb;
					}
					
				}
			}
			.mobmenu_block{
				text-align: right;
			}
			.mobmenu_button{
				background: none;
				border: none;
				outline: none;
			    font-size: 23px;
				padding-top:0;
				color: #3f3f3f;
			}
		}
		
	}
}

.main{
    display: flex;
    flex-direction: column;
	height:100%;
	padding:0;
	background: #f2f2f2;
	font-size: 18px;
	min-height:100vh;
	.header_img{
		width:100%;
		height:75px;
		background: url(../img/header.jpg) no-repeat;
		background-size:cover;	
		flex: 0 0 auto;
	}
	#content_page{
		flex: 1 0 auto;
		padding:0;
		h2{
			background: $green;
			padding: 20px;
			color: #fff;
			font-size:1.6rem;
		}
		.content_inner{
			padding:20px 40px;
			font-size:16px;
			.review_author{
					font-family:$bold;
				}
				.stars {
					display: inline-block;
					height: 16px;
					background: url(../img/star.png) 0px 0px repeat-x;
				}
				.stars_1{
					width:16px;
				}
				.stars_2{
					width:32px;
				}
				.stars_3{
					width:48px;
				}
				.stars_4{
					width:64px;
				}
				.stars_5{
					width:80px;
				}
			.brief_for_reading{
				@extend %brief_text;
				background-image: url(../img/read.png);
			}
			.brief_for_speaking{
				@extend %brief_text;
				background-image: url(../img/speak.png);
			}
			.brief_for_listening{
				@extend %brief_text;
				background-image: url(../img/listen.png);
			}
			.brief_for_writing{
				@extend %brief_text;
				background-image: url(../img/write.png);
			}
			.brief_for_hello{
				@extend %brief_text;
				padding-left:20px;
			}
			table{
				width:100%;
			}
			tr:not(:first-child){
				cursor:pointer;
			}
			tr:not(:first-child):hover{
				color:$blue;
				background:$light_green;
			}
			tr:nth-child(even){
				background:#dedede;
			}
			td, th{
				padding:10px;
				vertical-align: top;
			}		
			th{
				font-family: $bold;
			}
			p{
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
			}
			h3{
			    background: $light_green;
				padding: 5px 10px;
				font-size: 1.4rem;
				margin:25px 0 15px 0;
			}
			.skills{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				div{
					display:inline-block;
					div{
						display:block;
					}
				}
				a{
					color:$light_blue;
					padding:20px 30px;
					display:block;
					img{
						margin: 0 auto;
						display: block;
					}
				}
				a:hover{
					color:#0085e6;
					background: $light_green;
					text-decoration:none;
				}
			}	
			.accordion{
					li{
						padding:0;
					}
				.card-header{
					padding:0;
					a{
						color:$blue;
						padding-left:60px;
					}
					a:hover{
						color:$light_blue;
					}
					span{
					}
					span:after {
						content: "\f103";
						font-family: fontawesome;
						color: #1c8adb;
						padding-left:5px;
					}				
				}
			}	
			.carusel_block{
				padding:15px;
				background: $light_green;				
			}
		}	
	}
}
.main.login_page{
	background: #7ae67b;
	#content_page{
		margin: 0 auto;
		max-width: 700px;
		background: #f4f4f4;
	}
}

ol.rounded-list{
	counter-reset: li;
	padding-left:0;
	list-style-type: none;
	a {
		position: relative;
		display: block;
		text-align:left;
		text-decoration: none;
	} 
	li{
		border-radius: .3em;
		transition: all .3s ease-out;
		padding: 8px 12px 6px 60px;
		position: relative;	
		line-height:1.5;
	}
	li:hover{
		background: #ebf3f8;
	}
	li:hover:before {
		transform: rotate(360deg);
	}
	 
	li:before {
		content: counter(li);
		counter-increment: li;
		position: absolute;
		left: 1em;
		top: 0.5em;
		background: #1c8adb;
		color: #fff;
		height: 1.5em;
		width: 1.5em;
		line-height: 1.5em;
		text-align: center;
		font-weight: $bold;
		border-radius: 2em;
		transition: all .3s ease-out;
	}	
}

footer{
	flex: 0 0 auto;
	text-align:right;
    padding: 10px 20px;
    font-size: 13px;
    background: $green;
    color: #d5d5d5;
	i{
		font-family: fontawesome;
		font-style:normal;
	}
	a, a:hover{
		color:#fff;
		margin-right: 20px;
	}
	.copyright{
		text-align:left;
	}
}

@media screen and (min-width: 480px){
	.main{
		#content_page{
			.content_inner{
				.cards_block{
				    display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					.card{
						width:48%;
						max-width: 540px;
					}
				}
			}
		}	
	}	
}

@media screen and (min-width: 550px){
	aside.aside_container.col-md{
		.aside_inner{
/*			justify-content: space-between;
			align-items: stretch;
			height:70px;
			nav{
				width:auto;
			}
			.logo_block{
				width:auto;
				padding:0;
				text-align:left;
			}*/
			.email_block{
				display:block;
			}
		}
	}	
}



@media screen and (min-width: 768px){
	aside.aside_container.col-md {
			position: sticky;
			top:0;
			flex: 0 1 27%;
			align-self: flex-start;
			min-height:100vh;
			padding:40px 18px;
		.aside_inner{	
			display: block;
			.logo_block{
				padding:0;
				h1{
					font-size: 2.3rem;
					text-align:left;
				}	
				h3{
					font-size: 1.6rem;
					text-align:left;
				}	
			}
			hr{
				display:block;
			}
			nav{
				.nav_block{
					display:block;
					background: none;
					text-align:left;
					ul{
						a{
							color:$blue;
						}
						a:hover{
							color:$blue;
							background:none;
						}
						a.disabled{
							color:#5b5e87;
						}								
					}
				}	
				.mobmenu_button{
					display:none;
				}

			}
			.email_block{
				text-align: left;
			}
		}
	}
	
	.main{
		.header_img {
			height: 145px;
		}
		#content_page{
			.content_inner{
				h2{
					font-size:2rem;
				}
				td:last-child{
					width:55%;
				}	
				.skills{
					justify-content: flex-start;
				}
				.carusel_block{
					margin:20px;
					background: #7ae67b;
				}
				
			}	
		}	
	}
}