{% extends "base.html" %}
{% block title %}Successful registration - Julia books adviser{% endblock %}
{% block content %}
				<div class="main col-md login_page">
					<div class="header_img"></div>
					<div id="content_page">
						<h2>Congratulations!</b></h2>
						<div class="content_inner">
							<p>Hello, <b>{{ name }}!</b></p>
							<p>Your login is <b>{{ login }}</b></p>
							<p>Your password is <b>{{ password }}</b></p>
							<p></p>
							<p><a href="/">Back to the main page</a></p>	
						</div>
					</div>	
 {% endblock %}